* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.nav-bg {
  background-color: #be3144;
}

li {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  margin-right: 2px;
  padding: 10px;
}
nav {
  margin-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
a:hover {
  color: black;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #f0f0f0;
}
a:hover {
  color: black;
}
#about {
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
h1 {
  color: #f0f0f0;
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  margin-left: 20px;
  margin-bottom: 0;
}
p {
  color: #f0f0f0;
  font-family: "Poppins", sans-serif;
  color: #be3144;
  font-size: 2rem;
  margin-top: 2px;
}

#skills {
  background-color: #45567d;
  text-align: center;
  padding: 10px;
}
.skills-card-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.skills-card {
  display: flex;
  padding: 4px;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: #be3144;
  padding: 10px;
  padding-left: 40px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.skill-name {
  color: #f0f0f0;
  margin: 0;
  margin-left: 55px;
}
.skill-icon {
  width: 20px;
}
.skills-heading {
  margin-left: 0;
}
@media (min-width: 700px) {
  .skills-card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .skills-card {
    width: 49%;
    margin-right: 10px;
  }
  #skills {
    padding: 10px 50px;
  }
}
/* xxxx */
